<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bank Transfer</title>
    </head>


    <body>
		<h1>Your account</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}} 
		<tr>
		<th style="text-align:left">Balance:  <td>{{user.account.balance}}
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
		
        <h2>Transfer money</h2>

        <form id='transfer' action='transfer/' method="POST">
            {% csrf_token %}
            <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="input" name="amount"/><br/>

            <input type="submit" value="Transfer"/>
        </form>

        <h2>Recent transactions</h2>
        <ul>
            {% for t in transactions %}
                <li>{{t.sender}} sent {{t.reciever}} {{t.amount}} of local currency</li>
            {% endfor %}
        </ul>

        <h3>Send a message to your friends!</h3>
        <form id='message' action='message/' method="POST">
            <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Message:</span><br/>
            <textarea type="input" name="content"></textarea><br/>

            <input type="submit" value="Send!"/>
        </form>

        <h4>Messages sent to you:</h4>
        <ul>
            {% for message in messages %}
                {% autoescape off %}
                    <li>{{message.content}}</li>
                {% endautoescape %}
            {% endfor %}
        </ul>
    </body>


    </body>
</html>